<header class="relative isolate z-10">
  <nav class="flex items-center justify-between p-6 lg:px-8 bg-zinc-900" aria-label="Global">
    <div>
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Gun Inventory</span>
        <%= link_to 'Gun Inventory', root_path, class: 'text-xl font-semibold leading-7 text-white' %>
      </a>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path, method: :delete, class: 'text-sm font-semibold leading-6 text-white bg-red-500 py-1 px-3 rounded hover:bg-white hover:text-red-500' do %>
          <span>Log out</span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900" do %>
          Log in <span aria-hidden="true">&rarr;</span>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>
